name: OpenTofu Destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type DESTROY to confirm OpenTofu destroy"
        required: true
        default: "NO"

permissions:
  contents: read
  id-token: write # for GCP Workload Identity Federation
  
jobs:
  destroy:
    if: github.event.inputs.confirm == 'DESTROY'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Opentofu variables
        run: |
          echo "TF_VAR_project_id=${{ vars.GCP_PROJECT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_region=${{ vars.GCP_REGION }}" >> $GITHUB_ENV
          echo "TF_VAR_zone=${{ vars.GCP_ZONE }}" >> $GITHUB_ENV
          
      - name: Authenticate to Google Cloud (OIDC)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          project_id: ${{ vars.GCP_PROJECT_ID }}

      - name: Setup Opentofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: "1.10.0"

      - name: OpenTofu Init
        env:
          GCS_BUCKET: ${{ vars.GCP_GCS_BUCKET }}
        run: |
          tofu init -upgrade \
            -backend-config="bucket=${GCS_BUCKET}" \
            -backend-config="prefix=${{ github.repository }}/opentofu/${{ github.ref_name }}"

      - name: Opentofu Destroy
        run: tofu destroy -auto-approve
