name: Terragrunt Destroy

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: "Type DESTROY to confirm OpenTofu destroy"
        required: true
        default: "NO"
        type: choice
        options:
          - NO
          - DESTROY

permissions:
  contents: read
  id-token: write # for GCP Workload Identity Federation
  
jobs:
  destroy:
    if: github.event.inputs.confirm == 'DESTROY'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [dev, qa, prod]
    defaults:
      run:
        shell: bash
        working-directory: environments/${{ matrix.environment }}
    env:
      GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
      GCS_BUCKET: ${{ vars.GCP_GCS_BUCKET }}
      TG_STATE_PREFIX: ${{ github.repository }}/opentofu

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (OIDC)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          project_id: ${{ vars.GCP_PROJECT_ID }}

      - name: Setup Opentofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: "1.10.0"

      - name: Install Terragrunt
        run: |
          TG_VERSION="v0.95.1"
          curl -sL "https://github.com/gruntwork-io/terragrunt/releases/download/${TG_VERSION}/terragrunt_linux_amd64" -o /usr/local/bin/terragrunt
          chmod +x /usr/local/bin/terragrunt

      - name: Terragrunt Destroy
        run: terragrunt destroy --terragrunt-tfpath tofu --terragrunt-non-interactive -auto-approve
